@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Lato:wght@100;300;400&display=swap');

// Variables //

$header-bg: #00308d;
$btn-bg: #ffcc17;
$picker-bg: rgb(207, 207, 207);
$main-font-color: #061940;
$header-font-color: white;

:root {
  --color: transparent;
  --blend-mode: hard-light;
}

// Globals //

html {
  box-sizing: border-box;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: $header-font-color;
  font-size: 5rem;
}

label {
  font-size: 5rem;
  font-weight: 300;
}

input[type='color'] {
  background-color: $picker-bg;
  border-radius: 10px;
  border: none;
  padding: 0.5rem;
  width: 15rem;
}

select {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  text-transform: lowercase;
  text-indent: 1em;
  width: 7em;
  appearance: none;
  border: 2px solid black;
  background-image: url('../images/arrow.svg');
  background-repeat: no-repeat;
  background-position: left;
}

input:hover,
select:hover,
button:hover {
  cursor: pointer;
}

// Main styles //

.header {
  display: flex;
  justify-content: center;
  background-color: $header-bg;
  padding: 3rem;

  &__heading {
    width: 5em;
    line-height: 1em;
    margin-left: 1rem;
    align-self: center;
  }

  &__img {
    width: 140px;
  }
}

.main {
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  color: $main-font-color;
}

.img {
  margin: 3rem 3rem 0 1rem;
  width: 60vh;
  height: 60vh;

  &__container {
    height: inherit;
    width: inherit;
    background-color: var(--color);
    background-blend-mode: var(--blend-mode);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__spinner {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

.selectors {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;

  &__picker,
  &__blend-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__new-pic {
    background-color: $btn-bg;
    font-size: 4rem;
    padding: 0.5rem;
    margin-top: 1rem;
    border: 5px solid black;
  }
}

// Media Queries //

@media only screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }

  main {
    margin-top: 10%;
  }

  .img {
    width: 40vh;
    height: 40vh;
  }
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 4rem;
  }

  .header {
    padding: 1em 3rem 4rem 3rem;
    &__heading {
      width: 5em;
    }

    &__img {
      position: absolute;
      width: 5em;
      top: 5rem;
      left: 4rem;
    }

    &--indent {
      display: inline-block;
      text-indent: 1.5em;
    }
  }

  main {
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .img {
    margin: 1rem 0 0 0;
  }

  .selectors {
    label[for='color-picker'] {
      display: none;
    }

    label[for='blend-mode'] {
      font-size: 3rem;
      font-weight: 400;
    }

    &__blend-mode {
      margin-top: 2rem;
    }

    &__new-pic {
      border: none;
      font-size: 3rem;
      border-radius: 30px;
      box-shadow: 5px 5px 9px 0px rgba(0, 0, 0, 0.37);
      margin: 3rem 0;
    }
  }
}
