:root {
  --color: transparent;
  --blend-mode: hard-light;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

.img-container {
  display: block;
  height: 1000px;
  width: 1000px;
  background-color: var(--color);
  background-blend-mode: var(--blend-mode);
  background-size: cover;
  background-repeat: no-repeat;
}

#spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
