@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Lato:wght@100;300;400&display=swap');

// Variables //

$header-bg: #00308d;
$btn-bg: #ffcc17;
$picker-bg: rgb(207, 207, 207);
$main-font-color: #061940;
$header-font-color: white;

:root {
  --color: transparent;
  --blend-mode: hard-light;
}

// Globals //

html {
  box-sizing: border-box;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: $header-font-color;
  font-size: 5rem;
}

label {
  font-size: 5rem;
  font-weight: 300;
}

input[type='color'] {
  background-color: $picker-bg;
  border-radius: 10px;
  border: none;
  padding: 0.5rem;
  margin-top: 1rem;
  width: 300px;
}

select {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  text-transform: lowercase;
  text-indent: 1em;
  width: 7em;
  appearance: none;
  border: 2px solid black;
  background-image: url('../images/arrow.svg');
  background-repeat: no-repeat;
  background-position: left;
}

input:hover,
select:hover,
button:hover {
  cursor: pointer;
}

// Main styles //

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  color: $main-font-color;
  align-items: stretch;
}

.header {
  display: flex;
  justify-content: center;
  background-color: $header-bg;
  padding: 3rem;

  &__heading {
    width: 5em;
    line-height: 1em;
    margin-left: 1rem;
    align-self: center;
  }

  &__img {
    width: 140px;
  }
}

.img {
  margin: 3rem 3rem 0 -3rem;
  width: 800px;
  height: 800px;

  &__container {
    width: 100%;
    height: 100%;
    background-color: var(--color);
    background-blend-mode: var(--blend-mode);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__spinner {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }
}

.selectors {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;

  &__picker,
  &__blend-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__blend-mode {
    align-self: center;
    margin-bottom: 3rem;
  }

  &__picker {
    margin-top: 2rem;
  }

  &__new-pic {
    background-color: $btn-bg;
    font-size: 4rem;
    padding: 0.5rem;
    border: 5px solid black;
    margin-bottom: 10rem;
  }
}
